body {
  background: repeating-linear-gradient(
   90deg,  
    #2e2e2c,
    #2e2e2c 30px,
    #4e4e4b 30px,
    #4e4e4b 60px
  );
  color: #a0a099;
  font-size: 20px;
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p, ul {
  border: 2px solid #73726e;
  padding: 0.2em;
}

.block, li {
  border: 2px solid #cecdc5;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.post {
  border: 5px solid rgb(48, 48, 48);
  background-color: rgb(83, 83, 83);
  width: 400px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, max-height 0.5s ease;
  max-height: 300px;
  cursor: pointer;
}

.post:hover {
  transform: scale(1.05);
  max-height: 1000px;
}

.post__details {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  text-align: center;
}

.post:hover .post__details {
  max-height: 900px;
}

.post__link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.post__image {
  display: block;
  margin: 10px auto 0;
  height: auto;
}

.alternate {
  box-sizing: border-box;
}
