body {
  background-color: #2e2e2c;
  color: #a0a099
  ;
  font-size: 20px;
}

body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid #73726e;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid #cecdc5;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

.box {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(83, 83, 83);
  padding: 25px;
  margin: 40px;
  width: 400px;
  height: 400px;
}

.alternate {
  box-sizing: border-box;
}