body {
  background-color: #2e2e2c;
  color: #a0a099;
  font-size: 20px;
  font-family: sans-serif;
}

p, ul {
  border: 2px solid #73726e;
  padding: 0.2em;
}

.block, li {
  border: 2px solid #cecdc5;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.box {
  border: 5px solid rgb(43, 41, 41);
  background-color: rgb(83, 83, 83);
  width: 400px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, max-height 0.5s ease;
  max-height: 300px;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  max-height: 1000px;
}

.hidden-text {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  text-align: center;
}

.box:hover .hidden-text {
  max-height: 900px;
}

.hidden-text a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.box img {
  display: block;
  margin: 10px auto 0;
  height: auto;
}

.alternate {
  box-sizing: border-box;
}
